.carrousel{
    width: 700px;
    height: 390px;
    outline: 2px solid rgb(126, 125, 125);
    margin: 50px auto;
    box-shadow: 5px 5px 10px rgb(75, 73, 73);
    margin-top: 250px ;
    overflow: hidden;
}

.carrousel ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
}

.carrousel li {
    position: relative;
    animation: slide 15s infinite ease-out;
}

@keyframes slide{
    0%{left: 0px}
    23%{left: 0px}
    30%{left: -600px;}
    50%{left: -600px;}
    60%{left: -1230px;}
    80%{left: -1230px;}
    90%{left: -1850px;}
    90%{left: -1850px;}
    100%{left: 0px;}
    
}

.Imagem1{
}

.Imagem2{

}

.Imagem3{
    
}